@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "aparajita";
    src: url(../fonts/aparaj.ttf);
    font-style: normal;
}

@font-face {
    font-family: "gotham";
    src: url(../fonts/gotham.ttf);
    font-style: normal;
}

/* HEADER */


.header {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.header nav div ul{
    display: flex;
    align-items: center;
}

.header nav div ul li {
    padding: 0 30px;
}

.nav-link {
    font-family: 'gotham';
    font-size: 18px;
    color: #545023;
    letter-spacing: 3px;
    font-weight: 600;
    z-index: 1;
}

.header nav div div ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hover{
    display: none;
}

.navUno:hover > img{
    display:block;
    position: absolute;
    padding-top: 50px;
}

/* MAIN */

.navegacion{
    display: none;
}

h1 {
    font-family: 'Playfair Display', serif;;
    color: #545023;
    font-size: 40px;
    text-align: center;
    letter-spacing: 75px;
    margin-top: 50px;
    font-weight: 600;
}

body{
    text-align: center;
    background: rgb(255,255,255);
    background: linear-gradient(45deg, rgba(255,255,255,0) 10%, rgba(227,184,149,0.1) 90%);
}

.main__images {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
}

.main__images div {
    height: 697px;
    width: 320px;
    padding-top: 190px;
    margin-right: 30px;
}

.main__texto {
    margin-left: auto;
    margin-right: auto;
    margin: 90px 15px 0 15px;
}

.texto {
    font-family: 'Playfair Display', serif;;
    color: #442719;
    font-size: 38px;
    text-align: center;
    font-weight: bold;
}

.main__subtitulos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

.main__subtitulos .subtitulo {
    width: 405px;
}

.subtitulo {
    font-family: "gotham";
    color: #0000008c;
    font-size: 18px;
    font-weight:600;
    text-align: center;
    letter-spacing: 5px;
    line-height: 1.5;
}

.contenedor {
    position: relative;
    text-align: center;
}

.texto--tatuate {
    font-family: 'Playfair Display', serif;
    color: #545023;
    font-size: 3em;
    font-weight: bold;
    position: absolute;
    top: 30px;
    left: -25px;
}

/* CAROUSEL */

.carousel{
    display: none;
}

.carousel-indicators [data-bs-target] {
    border-radius: 100%;
    height: 20px;
    width: 20px;
    background-color: #D9D9D9;
}

.carousel-indicators .active{
    background-color: #8F311F;
}

.carousel-indicators{
    top: 480px;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
    display: none;
}

.carousel-inner{
    margin-top: 70px;
}

/* FOOTER SEBAS */

footer {
    margin-bottom: 0;
    margin-top: 100px;
    padding-bottom: 25px;
    display: flex;
    justify-content: space-between;
}

a:hover {
    color: #000000b3;
}

footer div {
    width: 311px;
}

footer div a {
    text-decoration: none;
}

.footer__home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__instagram {
    display: flex;
    justify-content: start;
    align-items: center;
}

.footer__instagram img {
    width: 32px;
    height: 32px;
    position: relative;
    top: 8px;
}

.footer__instagram div {
    height: 48px;
    width: 48px;
    background-color: #545023;
    border-radius: 100%;
}

.footer__tiktok {
    display: flex;
    justify-content: end;
    align-items: center;
}

.footer__tiktok img {
    width: 23px;
    height: 23px;
    position: relative;
    top: 8px;
}

.footer__tiktok div {
    height: 48px;
    width: 48px;
    background-color: #545023;
    border-radius: 100%;
    margin-right: 5px;
}

/* SECCIÓN CATTATOO */

.catattoo{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 70px 0 230px;
}

.catattoo div{
    width: 500px;
    margin-top: 40px;
}

.catattoo div img{
    width: 340px;
}

.catattoo div h1{
    display: flex;
    letter-spacing: 10px;
    margin-top: 0;
    font-family: 'Playfair Display', serif;
}

.catattoo div p{
    font-family: 'gotham';
    text-align: start;
    text-indent: 20%;
    margin-top: 40px;
    color: #545023;
    letter-spacing: 1px;
}

.catattoo div div img{
    width: 50px;
}



/* RESPONSIVE */

@media screen and (max-width: 1256px){
    .header nav div ul li {
        padding: 0 20px;
    }
}

@media screen and (max-width: 1116px){
    .header nav div ul li {
        padding: 0 10px;
    }
}

@media screen and (max-width: 991px){
    .navegacion{
        display: block;
    }

    .navLogo{
        display: none;
    }

    .navbar{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .navbar-light .navbar-toggler-icon {
        background-image: url(../images/menu.png);
    }

    .navbar-toggler {
        border: none;
    }

    .collapse:not(.show) {
        border: none;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    .container-fluid{
        width: 80%;
    }

    .navbar-collapse{
        position: relative;
        background-color: white;
        border-radius: 12px;
        opacity: 80%;
        box-shadow: 1px 4px 5px 1px #a19e9e;
        text-align: center;
        margin-top: 20px;
    }

    .navUno a{
        padding: 30px 0;
        color: #000000;
    }

    .navbar-light .navbar-nav .nav-link {
        color: rgba(0,0,0,.9);
    }

    .navbar-brand{
        margin-right: 0;
        margin-left: 30px;
    }

    .main__images{
        display: none;
    }

    /* MAIN */

    h1 {
        letter-spacing: 55px;
        margin-top: 50px;
        margin-left: 55px;
    }

    .main__texto {
        margin-top: 170px;
    }

    .main__subtitulos {
        flex-direction: column;
        margin: 60px 0 0 0;
    }

    .subtitulo {
        padding: 40px 0;
    }


    /* CAROUSEL */

    .carousel{
        display: block;
    }

    /* FOOTER */

    footer{
        margin-top: 40px;
    }

    .footer__instagram h2{
        display: none;
    }

    .footer__tiktok h2{
        display: none;
    }

    /* SECCIÓN CATTATOO */

.catattoo{
    flex-direction: column;
    margin: 5px 0 30px;
}

.catattoo div{
    width: 100%;
    margin-top: 50px;
}

.catattoo div img{
    width: 250px;
}

.catattoo div h1{
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin: 30px 0;
}

.catattoo div p{
    padding-top: 30px;
    font-size: 20px;
    margin: 0 40px;
}
}

    @media screen and (max-width: 669px){
        h1 {
            letter-spacing: 15px;
            margin-top: 50px;
            margin-left: 17px;
        }

        .texto {
            font-size: 25px;
        }

        .carousel-inner{
            width: 100%;
        }
}